<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div class="row d-flex justify-content-center text-center">
      <div class="col col-6 my-5">
        <% if (typeof errors !== "undefined") { %>
        <div class="alert alert-danger text-start" role="alert">
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
        <% } %>
        <h1 class="my-4"><%= formTitle %></h1>
        <form action="/login" method="post">
          <input type="email" name="email" id="email" placeholder="Input Email" class="form-control" />
          <br />
          <input type="password" name="password" id="password" placeholder="Password" class="form-control" />
          <br />
          <button type="submit" class="btn btn-primary form-control">SIGN UP</button>
        </form>
      </div>
    </div>
  </body>
</html>
